body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(212, 212, 212);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#title{
  font-size: 70px;
  color:rgb(78, 78, 78);
}

.tile
{max-width: 500px;
  min-height: auto; 
  border: solid 3px rgb(94, 104, 214);
  background-color: rgb(189, 193, 253);
  display: inline-block;
  color: rgb(78, 78, 78);
  margin: 30px;
  padding: 10px; 
}

button{
  margin: 10px;
}
.tile img {
  height: 300px;
  width: auto;
}

